.head{
    
    height: 50px;
    width: 750px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 60px;
    
}
header{
    background-color: black;
    height: 500px;
    width: auto;
    border-radius: 10px 10px 0px 0px;
}

.headd{
    display: flex;
    justify-content: space-between;
    background-color: rgb(29, 29, 29);
}
.hea{
    
    height: 50px;
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 60px;
    
}
.q{
    color: aliceblue;
    font-size: 17px;
    background-color: inherit;
    width: 250px;
}

.dde{
    color: aliceblue;
    font-size: 17px;
    animation: rj 0.5s alternate forwards;
        font-family: 'Arial', 'Verdana', sans-serif;

}
.dde:hover{
    animation: j 0.3s alternate forwards;
}

@keyframes j{
    0%{
        color: aliceblue;
        
    }
    50%{
        color: rgb(202, 202, 202);
    }
    100%{
        color: rgb(202, 202, 202);

    }
}
@keyframes rj{
    from{
        color: rgb(202, 202, 202);

    }
    to{
        color: aliceblue;
    }
}

.g{
    border-top: 1px solid black;
    width: auto;
    height: 83%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 150px;
    background-color: black;
}
.h{

    height: 200px;
    width: 300px;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    column-gap: 20px;
    font-family: 'Arial', 'Verdana', sans-serif;
    letter-spacing: 2px;
}

.v{
    
    position: relative; 
    top: 40px;
    display: grid;
    grid-template-rows: repeat(2,1fr);
    row-gap: 8px;
}
.b{
    
    height: 200px;
    width: 600px;
    color: aliceblue;
    display: flex;
    align-items: start;
    justify-content: center;
    font-size: 30px;
    font-weight: 900;
    font-family: 'Arial', 'Verdana', sans-serif;
    display: grid;
    grid-template-rows: repeat(2,1fr);
    line-height: 35px;
    row-gap: 30px;
}
.but{
    height: 50px;
    background-color: rgb(2, 189, 2);
    width: 270px;
    font-weight: 100;
    font-size: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    font-family: 'Arial', 'Verdana', sans-serif;
    color: aliceblue;

}
.but:hover ~ .top{
        animation: f 0.5s forwards alternate;
    }
    .but:hover ~ .bot{
        animation: f 0.5s forwards alternate;
    }
.top{
        border: 1px solid rgb(2, 189, 2);
        width: 270px;
        height: 50px;
        opacity: 0;
        position: relative;
        bottom: 85px;
        right: 5px;
        z-index: 0;
        animation: rf 1s forwards alternate;

    }
    .bot{
        background-color: rgb(0, 255, 42,0.5);
        width: 270px;
        height: 50px;
        opacity: 0;
        position: relative;
        bottom: 156px;
        left: 5px;
        z-index: 0;
        animation: rf 1s forwards alternate;

    }
    .top1{
        border: 1px solid rgb(2, 189, 2);
        width: 270px;
        height: 50px;
        opacity: 0;
        position: relative;
        right: 275px;
        bottom: 5px;
        z-index: 0;
        animation: rf 1s forwards alternate;
    }
    .bot1{
        background-color: rgb(0, 255, 42,0.5);
        width: 270px;
        height: 50px;
        opacity: 0;
        position: relative;
        right: 537px;
        top: 5px;
        z-index: 0;
        animation: rf 1s forwards alternate;
    }
    .but:hover ~ .top1{
        animation: f 0.5s forwards alternate;
    }
    .but:hover ~ .bot1{
        animation: f 0.5s forwards alternate;
    }
.gg{
    height: 200px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    padding-bottom: 100px;
}

.q {
    position: relative;
    display: inline-block;
        font-family: 'Arial', 'Verdana', sans-serif;

    text-align: center;
    line-height: 50px;
    cursor: pointer;
    animation: ranim 0.3s ;
}
.q:hover{
    animation: anim 0.5s forwards alternate;

}

.drop{
    width: 250px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.1s ease-in-out;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 10px;
    background-color: rgb(80, 75, 94);
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    z-index: 1;
    color: aliceblue;
    line-height: 1.5;
    font-size: 17px;
}
.line{
    border: 1px solid rgb(58, 58, 58);
    width: auto;
    position: relative;
    top: 5px;

}
.drop p{
    margin-bottom: 5px;
}

.q:hover .drop{
    visibility: visible;
    opacity: 1;
}

    
    @keyframes f{
        0%{
            opacity: 0;
        }
        50%{
            opacity: 1;
        }
        100%{
            opacity: 1;
        }
    }
    @keyframes rf{
        from{
            opacity: 1;

        }
        to{
            opacity: 0;
        }
    }
    .but:hover ~ .top{
        animation: f 0.5s forwards alternate;
    }
    .but:hover ~ .bot{
        animation: f 0.5s forwards alternate;
    }

@keyframes anim{
    0%{
        background-color: inherit;
        color: aliceblue;
    }
    50%{
    background-color: rgb(80, 75, 94);
        color: rgb(202, 202, 202);
    }
    100%{
    background-color: rgb(80, 75, 94);
        color: rgb(202, 202, 202);

    }
}
@keyframes ranim{
    from{
    background-color: rgb(80, 75, 94);
        color: rgb(202, 202, 202);

   
    }
    to{
        background-color: inherit;
        color: aliceblue;

    }
}

.n{
    animation: rranim 0.3s ;

}
.n:hover{
    animation: fanim 0.5s forwards alternate;

}

@keyframes fanim{
    0%{
        color: aliceblue;
    }
    50%{
        color: rgb(202, 202, 202);
    }
    100%{
        color: rgb(202, 202, 202);

    }
}
@keyframes rranim{
    from{
        color: rgb(202, 202, 202);

   
    }
    to{
        color: aliceblue;

    }
}
.glav{
    width: 50%;
    margin: 0 auto;
}
.vvv{
    width: 100%;
    height: 300px;
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
       

}
.hh{
    width: 70%;
    display: grid;
    grid-template-rows: repeat(2,1fr);
    height: 100%;

}
.aq{
    font-size: 38px;
    font-weight: 900;
            font-family: 'Arial', 'Verdana', sans-serif;

}
.rte{
    font-size: 17px;
    color: rgb(56, 56, 56);
    padding-bottom: 100px;
    font-family: 'Arial', 'Verdana', sans-serif;
    line-height: 27px;
}
.icon{
    height: 300px;
    width: 360px;
    padding-bottom: 100px;
}
.de{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.hg{
        height: 200px;
        width: 200px;
    }




    header {
        position: relative;
        height: 600px;
        background-color: black;
        border-radius: 10px 10px 0 0;
        overflow: hidden; 
      }   
      
  
      .snowflake {
        position: absolute;
        background: white;
        border-radius: 50%;
        box-shadow: 0 0 6px 1px rgba(255, 255, 255, 0.6);
        top: 55px;
        left: 0;
        animation: fall linear infinite ;
      }
  
      @keyframes fall {
        to {
          transform: translateY(550px) rotate(360deg);
        }
      } 

.cont{
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(240, 240, 240);
}
.rtq{
    width: 100%;
    height: 660px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    column-gap: 30px;
}
.cont1{
    width: 85%;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    row-gap: 15px;
    position: relative;
}
.cont2{
    width: 85%;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cimg{
    width: 200px;
    height: 50px;
    
}

.butt{
    width: 110px;
    height: 40px;
    background-color: rgb(39, 0, 148);
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: rgt 0.3s alternate forwards;
    position: absolute;
    bottom: 0;
    font-family: 'Arial', 'Verdana', sans-serif;

}
.rte1{
    font-size: 15px;
    color: rgb(70, 70, 70);
    font-family: 'Arial', 'Verdana', sans-serif;
    line-height: 25px;
}
.butt:hover{
    animation: gt 0.5s alternate forwards ;
}
@keyframes gt{
    0%{
            background-color: rgb(39, 0, 148);

    }
    50%{
            background-color: rgb(88, 27, 255);

    }
    100%{
            background-color: rgb(88, 27, 255);

    }
}
@keyframes rgt{
    from{
                    background-color: rgb(88, 27, 255);

    }
    to{
                    background-color: rgb(39, 0, 148);

    }
}
.hy{
    width: 100%;
    height: 250px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.frt{
    margin-right: 40px;
    width: 60%;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(3,1fr);
    row-gap: 10px;
}
.rte2{
    font-size: 17px;
    color: rgb(56, 56, 56);
            font-family: 'Arial', 'Verdana', sans-serif;
    line-height: 25px;
}
.fty{
    margin-top: 20px;
    font-size: 30px;
    color: rgb(37, 40, 216);
    animation: rhu  alternate forwards;
}
.fty:hover{
    animation: hu  alternate forwards;
}

@keyframes hu{
    0%{
        color: rgb(37, 40, 216);
        text-decoration: none;
    }
    50%{
        color: rgb(0, 2, 131);
        text-decoration: underline;

    }
    100%{
        color: rgb(0, 2, 131);
        text-decoration: underline;

    }
}
@keyframes rhu{
    from{
        color: rgb(0, 2, 131);
        text-decoration: underline;

    }
    to{
        color: rgb(37, 40, 216);
        text-decoration: none;
   
    }
}
.butt1{
    width: 350px;
    height: 60px;
    background-color: rgb(39, 0, 148);
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: rgt 0.3s alternate forwards;
    font-size: 25px;
    margin-top: 50px;
        font-family: 'Arial', 'Verdana', sans-serif;

    
}
.butt1:hover{
    animation: gt 0.5s alternate forwards;
}
.new{
    margin-top: 80px;
    width: 100%;
    height: 250px;
    background-color: rgb(240, 240, 240);
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 60px;
}
.fewq{
    width: 12%;
    height: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.ghj{
    height: 50%;
    width: 55%;
}
.num{
        font-family: 'Arial', 'Verdana', sans-serif;
        font-weight: 900;
        font-size: 35px;
}
.gtr{
    width: 100%;
    height: 350px;
    display: grid;
    grid-template-columns: 20% 75%;
    column-gap: 5%;
    margin-top: 50px;
}
.ava{
    width: 100px;
    height: 100px;
    border-radius: 1000px;
}
.ava1{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
}
.rte3{
    font-size: 15px;
    color: rgb(70, 70, 70);
    font-family: 'Arial', 'Verdana', sans-serif;
    line-height: 25px;
    display: grid;
    grid-template-rows: repeat(2,1fr);
    row-gap: 10px;
}
.new1{
    margin-top: 80px;
    width: 100%;
    height: 250px;
    background-color: rgb(240, 240, 240);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.grid1{
    margin-top: 50px;
    width: 100%;
    height: 750px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 50px;
}
.sect{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}




body{
margin:0;
overflow-x:hidden;
}

.footer{
background-color: rgb(30, 26, 51);padding:30px 0px;
font-family: 'Play', sans-serif;
text-align:center;
margin-top: 50px;
}

.footer .row{
width:100%;
margin:1% 0%;
padding:0.6% 0%;
color:gray;
font-size:0.8em;
}

.footer .row a{
text-decoration:none;
color:gray;
transition:0.5s;
}

.footer .row a:hover{
color:#fff;
}

.footer .row ul{
width:100%;
}

.footer .row ul li{
display:inline-block;
margin:0px 30px;
}

.footer .row a i{
font-size:2em;
margin:0% 1%;
}

@media (max-width:720px){
.footer{
text-align:left;
padding:5%;
}
.footer .row ul li{
display:block;
margin:10px 0px;
text-align:left;
}
.footer .row a i{
margin:0% 3%;
}
}